@inherits LayoutComponentBase

<div class="page" style="background-color: #E9ECFE; height:100vh; overflow:hidden;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a style="font-size:20px; font-weight:600;">Sarthak</a>
            <a style="font-weight:800;">Currency: USD</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
